/* Estilos Globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
.header {
    background: linear-gradient(to right, var(--ifood-primary), var(--ifood-secondary), var(--ifood-tertiary)); /* Gradiente de cores do iFood */
    padding: 20px 0;
    text-align: center;
    transition: background 0.5s; /* Animação de transição de cor de fundo */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 80px; /* Ajusta o tamanho da logo */
    height: auto; /* Mantém a proporção */
    margin-bottom: 10px; /* Reduz a margem inferior */
}

.site-name {
    font-family: 'Poppins', sans-serif; /* Fonte mais bonita */
    font-size: 48px; /* Aumenta o tamanho da fonte */
    color: var(--ifood-secondary); /* Cor amarela */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
    margin: 10px 0; /* Aumenta a margem para dar mais espaço */
}

.slogan {
    font-family: 'Poppins', sans-serif; /* Fonte mais bonita */
    font-size: 20px; /* Reduz o tamanho da slogan */
    color: var(--ifood-primary); /* Cor vermelha */
    text-align: center; /* Centraliza o texto */
    font-weight: bold; /* Aumenta o peso da fonte */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
    margin-bottom: 20px; /* Aumenta a margem inferior */
}

/* Barra de pesquisa */
.search-form {
    margin-top: 10px;
    width: 100%;
}

.search-bar {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.search-button {
    padding: 15px 30px;
    background-color: red; /* Cor vermelha */
    color: yellow; /* Cor amarela */
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ffb300; /* Amarelo iFood escurecido ao passar o mouse */
}

/* Menu */
.menu-section {
    background-color: #fff;
    padding: 20px 0;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    flex: 0 0 calc(33.333% - 20px); /* Alterado para 33.333% */
    background-color: #fff;
    border-radius: 15px; /* Borda arredondada */
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px; /* Adiciona espaço entre os cards */
    cursor: pointer; /* Adiciona cursor ao passar por cima */
    text-decoration: none; /* Remove sublinhado do link */
    border: 2px solid #ff4d4d; /* Adiciona uma borda sólida */
}

.menu-item:hover {
    transform: translateY(-5px);
    border-color: #ff6666; /* Muda a cor da borda ao passar o mouse */
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 13px 13px 0 0; /* Ajusta a borda arredondada devido à borda do card */
}

.menu-item h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px; /* Adiciona espaçamento à esquerda */
    color: #333;
}

.menu-item p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px; /* Adiciona espaçamento à esquerda */
    color: #333;
}

.show-more-button,
.show-less-button {
    width: 100%;
    padding: 10px 0;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: none; /* Esconde os botões inicialmente */
}

.show-more-button:hover,
.show-less-button:hover {
    background-color: #ff0000;
}

/* Rodapé */
.footer {
    background-color: #ff4d4d; /* Cor corrigida */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Responsividade */
@media only screen and (max-width: 767px) {
    .menu-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-item {
        flex: 0 0 calc(80% - 20px); /* Ocupa 80% da largura no celular */
        margin-bottom: 20px; /* Espaçamento inferior adicionado */
    }
}

.pagination a:hover {
    background-color: #ff6666;
}

/* Estilos para o formulário de contato */
.contact-form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.contact-form h2 {
    margin-top: 0;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}


